<div id="map" #mapElement></div>

<div class="map-search-container">
  <app-map-search-form (inputLocationValueEvent)="onInputLocationValueEvent($event)"
   (categoryValueEvent)="onCategoryValueEvent($event)"></app-map-search-form>

  <div class="place-container">
    <ng-container *ngIf="places">
      <div class="place-item" *ngFor="let item of places; let i = index">
        <mat-card class="example-card" (click)="onCardClick(item, i)">
          <img *ngIf="item.photo" mat-card-image [attr.src]="item.photo" alt="{{ item.name }}">
          <mat-card-header>
            <mat-card-title>{{ item.name }}</mat-card-title>
            <mat-card-subtitle>{{ item.vicinity }}</mat-card-subtitle>
           
          </mat-card-header>
        </mat-card>
      </div>
    </ng-container>
 
  </div>

</div>